.course-box{
    margin-bottom: 50px;
    .image{
        margin-bottom: 10px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .info{
        h2{
            font-weight: bold;
        }
    }
    .bottom-bar{
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
}

#course_checkout_form{
    h5{
        margin-bottom: 15px;
    }
    .course-info-box{
        &, h3{
            margin-top: 0;
        }
    }
}


.totals-box{
    margin-top: 30px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $lgray;
            padding: 10px 0px;
            .lbl {
                flex: 0 0 140px;
            }
            .val{
                text-align: right;
            }
        }
    }
}

.user-logged-in {
    background-color: #f8f8f8;
    color: rgb(109, 109, 109);
    opacity: 0.7;

    &:focus {
        box-shadow: none !important;
    }
}

.fieldset-row {
    .select-box {
        select {
            height: 50px;
            font-size: 18px;
        }
    }
}

.fieldset-row .fieldset {
    input {
        font-size: 18px !important;
    }
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    font-size: 18px !important;
}
