@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url("/../wp-content/themes/ss-base-theme/assets/fonts/helveticaneue/HelveticaNeue.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url("/../wp-content/themes/ss-base-theme/assets/fonts/helveticaneue/HelveticaNeue Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url("/../wp-content/themes/ss-base-theme/assets/fonts/helveticaneue/HelveticaNeueMed.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url("/../wp-content/themes/ss-base-theme/assets/fonts/helveticaneue/Helvetica Neu Bold.ttf");
    font-weight: 700;
}