footer {
    background-color: #00264a;
    color: white;
    font-size: 12px;
    line-height: 24px;

    .footer-about {

        .btn-wrap {

            a {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                color: white;
                width: auto;
                margin-bottom: 0px;
                padding: 20px 0;
                border: none;
    
                @media(min-width: 400px)  {
                    font-size: 16px;
                }
    
                &:hover {
                    color: rgb(141, 141, 141);
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 10px 0;

            a {
                font-size: 12px;
                color: white;
                position: relative;

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    border-top: 2px solid;
                    border-right: 2px solid;
                    border-color: white;
                    height: 10px;
                    width: 10px;
                    top: 2px;
                    right: -20px;
                    transform: rotate(45deg);
                }

                &:visited {
                    color: white;
                }

                &:hover {
                    color: #67c2ff;
                }
            }
        }
    }

    .footer-social {

        ul {

            li {
                display: inline-block;
            }
        }

        img {
            width: 100%;

            @media(min-width: 992px) {
                width: 50px;
            }

            &:hover {
                opacity: 0.7 !important;
            }
        }
    }

    form {
        display: flex;
        position: relative;

        .validation_error {
            display: none;
        }

        .validation_message {
            color: red;
            position: absolute;
        }

        .gform_body {
            width: 100%;
        }

        .gform_footer {
            position: absolute;
            bottom: 13%;
            right: 7%;
        }

        input[name="gform_ajax"] {
            position: absolute;
            display: none;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        label {
            display: none;
        }

        .ginput_container_email {
            display: flex;
            padding: 20px 0;
            flex-direction: row;
            border-bottom: 1px solid rgb(141, 141, 141);
            justify-content: space-between;
            margin-top: 50px;

            @media(min-width: 1200px) {
            }

            .ajax-loader {
                position: absolute;;
            }
        }

        input {
            background-color: transparent;
            border: none !important;
        }

        input[type="text"] {
            font-size: 14px;
            padding: 0;
            outline: none;
            color: white;
            width: 100%;
            margin-bottom: 0px;
            position: relative;

            @media(min-width: 400px) and (max-width: 767px) {
                font-size: 16px;
            }
            
            @media(min-width: 1200px) {
                font-size: 16px;
                max-width: 250px;
            }
        }

        input[type="submit"] {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 600;
            color: white;
            width: auto;
            margin-bottom: 0px;
            padding: 20px 0;

            @media(min-width: 400px)  {
                font-size: 16px;
            }

            &:hover {
                color: rgb(141, 141, 141);
                background-color: transparent;
            }
        }
    }

    // .footer-bottom-wrap {
    //     border-top: 1px solid #1a1a1a;
    //     margin-top: 50px;

    //     .footer-bottom {
    //         padding: 20px 0;
    //         text-align: center;

    //         @media(min-width: 768px) {
    //             text-align: left;
    //         }
    
    //         .credit-cards {
    //             margin-top: 20px;

    //             @media(min-width: 768px) {
    //                 text-align: right;
    //                 margin-top: 0;
    //             }
    //         }
    //     }
    // }
}


// ###################### NEW DESIGN ######################

.top-footer-boxes {
    background-color: #f5f5f5;
    padding-bottom: 100px;
    
    .pretitle {
        color: #ADADB6;
        padding: 0 10px;
        border-left: 4px solid #ADADB6;
        font-size: 30px;
        font-weight: bold;
        margin: 50px 0;
    }

    .boxes-row {

        .row {

            :nth-child(1) {

                .footer-box {
                    background-color: #ffffff;

                    .box-title {
                        color: $text;
                    }
                    
                    a {
                        color: $text;
                    }
                }
            }

            :nth-child(2) {

                .footer-box {
                    background-color: #657c84;
                }
            }

            :nth-child(3) {

                .footer-box {
                    background-color: #3c1a10;
                }
            }
        }
    }

    .footer-box {
        margin: 20px 0;
        height: 360px;
        background-color: #657c84;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        transition: .3s all ease-in-out;
        max-width: 430px;

        @media(min-width: 992px) {
            max-width: 100%;
        }

        // &:hover {
        //     box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
        // }
    
        .box-title {
            font-size: 25px;
            line-height: 30px;
            font-family: $font-family-secondary;
            margin-bottom: 10px;
            font-weight: bold;
            color: white;

            @media(min-width: 576px) {
                font-size: 35px;
                line-height: 40px;
            }

           @media(min-width: 992px) and (max-width: 1200px) {
            font-size: 25px;
            line-height: 30px;
           }
        }

        a {
            width: 100%;
            height: 100%;
            padding: 70px 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: white;
        }
    }
}

.middle-footer {
    padding: 20px;
    background-color: #004e81;
    color: white;
    border-bottom: 1px solid #406f91;
    font-weight: 600;

    a{
        color: white;
    }

    .footer-newsletter {
        position: relative;
        color: white;

        &::after {
            position: absolute;
            display: block;
            content: "";
            border-top: 2px solid;
            border-right: 2px solid;
            border-color: white;
            height: 10px;
            width: 10px;
            top: 7px;
            right: -23px;
            transform: rotate(45deg);
        }
    }

    img {
        width: 32px;
        height: 100%;
        margin-right: 20px;
    }
}

.main-footer {
    padding: 20px 0;

    @media(min-width: 1024px) {
        padding: 50px 0;
    }
}

.footer-info {

    .info-img {
        margin-bottom: 10px;

        img {
            width: 80px;
        }
    }

    .info-text {
        max-width: 80%;
    }
}

// .footer-menu {

//     ul {

//         li {
//             display: inline-block;
//             margin-right: 10px;

//             @media(min-width: 576px) {
//                 margin-right: 20px;
//             }
//         }
//     }
// }

.footer-bottom-wrap {
    margin-top: 50px;

    .footer-bottom {
        border-top: 1px solid rgb(235, 235, 235);
        padding: 20px 0;
        text-align: left;

        .credit-cards {
            margin-top: 20px;

            @media(min-width: 768px) {
                text-align: right;
                margin-top: 0;
            }
        }
    }
}

.footer-social {
    text-align: right;
}