.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .3s ease-out;
  background-color: white;

  &__wrap {
    height: 100%;
  }

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  .col-logo {
    height: 100%;

    @media (min-width: 0px) and (max-width: 767px) {
      height: 65px;
    }
    @media(min-width: 768px) {
      height: 95px;
    }

    @media(min-width: 1200px) {
      margin-right: 15px;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;

      img {
        @media (min-width: 0px) and (max-width: 767px) {
          height: 45px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-left: 12px;
          height: 57px;
        }

        @media (min-width: 1025px) {
          height: 55px;
        }
      }
    }
  }

  .col-nav {
    display: none;
    height: 100%;

    nav {
      height: 100%;
      float: right;
    }

    @media (min-width: 992px) {
      display: block;
      flex: 1;
      text-align: center;
    }
  }

  .col-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-left: 40px;


    @media (max-width: 768px) {
      .hdr-srch-inner {
          width: 100%;
          background-color: #fff;
          padding: 24px;
          height: 10vh;
      }

      .hdr-srch {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        transition: all .3s ease-in-out;
        visibility: hidden;
        opacity: 0;
      }

      .js-search.active .hdr-srch {
        visibility: visible;
        opacity: 1;
        z-index: 100000;
      }
    }

    .header-search-input {
      background-color: #e6e8eb;
      border: none;
      border-radius: 15px;
      padding: 10px 25px;
      color: $mc;
      font-size: 16px;
      line-height: 22px;
      width: 183px;
      padding-left: 44px;

      @media (max-width: 768px) {
        width: 100%;
      }

      &:focus {
        border: none !important;
        box-shadow: none !important;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 22px;
        color: $mc;
      }
    }

    a {
      font-size: 16px;
      color: $mc;
    }

  }

  .row {
    position: relative;
  }

}

.cart-box {
  position: relative;

  .cart-icon-count {
    position: absolute;
    background: black;
    color: white;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    right: -4px;
    top: 0;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
  }
}

.nav-bottom .site-header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav-up {
  top: -95px;
  box-shadow: none;
}

.nav-bottom .nav-up {
  box-shadow: none;
}


.main-navigation {
  position: relative;
  display: none;
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    flex: 1;
  }

  ul.menu {
    margin: 0;
    padding: 0;

    li {
      a {
        color: $mc;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    li, a {
      display: inline-block;
    }

    li .sub-menu {
      a {
        padding: 6px 15px;
        text-align: left;
        font-size: 0.875rem;
      }

      li, a {
        display: block;
      }
    }
  }
}

.menu > .menu-item-has-children {
  padding-right: 5px;
  // @media (min-width: 992px){
  //     &::after {
  //         position: absolute;
  //         display: block;
  //         content: "";
  //         border-bottom: 1px solid #af837a;
  //         border-right: 1px solid #af837a;
  //         transform: rotate(45deg);
  //         width: 5px;
  //         height: 5px;
  //         top: 37px;
  //         right: 15px;
  //     }
  // }
}

.main-navigation > div > ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-navigation > div > ul > li {

  margin-right: 10px;
  @media (min-width: 1250px) {
    margin-right: 15px;
  }

  @media(min-width: 1450px) {
    margin-right: 35px;
  }
}

.main-navigation > div > ul > li > a {
  font-size: 16px;
  font-weight: bold;
  padding: 30px 5px;
  transition: all .3s ease-in-out;
  @media (min-width: 1200px) {
    font-size: 20px;
    &:hover {
      //color: $mc;
    }
  }
}

// .main-navigation > div > ul > li .sub-menu li a:hover{
//     @media (min-width: 992px){
//         color: $mc;
//     }
// }

.main-navigation > div > ul > li > .sub-menu .sub-menu {
  position: absolute;
  padding: 25px 15px;
  top: 0px !important;
  left: 10px;
  background-color: white;
  transition: .3s all ease-in-out;
  box-shadow: -2px 2px 81px -17px rgba(0, 0, 0, 0.29);

  @media(min-width: 992px) {
    opacity: 0;
    visibility: hidden;
    top: -20px;
    left: -20px;
    z-index: -99999;
  }
}

.main-navigation > div > ul > li > .sub-menu li:hover .sub-menu {

  @media(min-width: 992px) {
    opacity: 1;
    visibility: visible;
    z-index: 99999;
    transform: translateX(185px);
  }
}

.main-navigation > div > ul > li > .sub-menu {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 94px;
  padding: 25px 50px;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  //overflow: hidden;
  max-height: 30em;
  width: 900px;
  opacity: 0;
  background: #fff;
  transition: opacity .2s ease-in-out;
  transform: translateY(30px);
  transition: .2s all ease-in-out;
  box-shadow: -2px 2px 81px -17px rgba(0, 0, 0, 0.29);

  li {
    width: 400px;
    display: flex !important;

    a {
      position: relative;

      &::after {
        position: absolute;
        display: block;
        content: "";
        border-top: 2px solid;
        border-right: 2px solid;
        border-color: black;
        height: 10px;
        width: 10px;
        top: 16px;
        right: -11px;
        transform: rotate(45deg);
      }
    }
  }

  & > li > a {
    margin: 20px;
  }

  li, a {
    margin-left: 0;
    padding-left: 0;
  }
}

.main-navigation > div > ul > li:hover {
  @media (min-width: 992px) {
    > .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }
}

.col-mob-menu {
  display: block;
  margin-left: 20px;
  @media (min-width: 1200px) {
    display: none;
  }
}

.mobile-active {
  #mobMenuBtn {
    &:before {
      animation: mob_move_first_handle_active 0.5s ease-out forwards;
      top: 1px;
    }

    div {
      transform: translateX(-30vw);
      opacity: 0;
    }

    &:after {
      animation: mob_move_last_handle_active 0.5s ease-out forwards;
      top: 3px;
    }
  }
}

.mobile-not-active {
  #mobMenuBtn {
    &:before {
      animation: mob_move_first_handle 0.5s ease-out forwards;
    }

    div {
      transform: translateX(0vw);
      opacity: 1;
    }

    &:after {
      animation: mob_move_last_handle 0.5s ease-out forwards;
    }
  }
}

@keyframes mob_move_first_handle {
  0% {
    transform: rotate(-45deg) translateX(-5px) translateY(7px);
  }
  40% {
    transform: translateX(0px) translateY(9px);
  }
  60% {
    transform: translateX(0px) translateY(9px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes mob_move_first_handle_active {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  40% {
    transform: translateX(0px) translateY(9px);
  }
  60% {
    transform: translateX(0px) translateY(9px);
  }
  100% {
    transform: rotate(-45deg) translateX(-5px) translateY(7px);
  }
}

@keyframes mob_move_last_handle {
  0% {
    transform: rotate(45deg) translateX(-5px) translateY(-8px);
  }
  40% {
    transform: translateX(0px) translateY(-9px);
  }
  60% {
    transform: translateX(0px) translateY(-9px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes mob_move_last_handle_active {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  40% {
    transform: translateX(0px) translateY(-9px);
  }
  60% {
    transform: translateX(0px) translateY(-9px);
  }
  100% {
    transform: rotate(45deg) translateX(-5px) translateY(-8px);
  }
}

.mobile-active .mob-menu-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: all .3s ease-in-out;
}

#mob-menu {
  z-index: 9000;
  position: fixed;
  top: 68px;
  left: 0;
  width: 430px;
  max-width: calc(100% - 30px);
  height: calc(100vh - 45px);
  transform: translateX(0%);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: all .2s ease-in-out;
  transform: perspective(600px) translateX(-120%);
  background: #f3f3f3;
  padding-top: 25px;
  overflow: hidden;

  @media(min-width: 576px) {
    top: 60px;
  }

  @media(min-width: 1024px) {
    top: 100px;
  }

  .main-navigation > div > ul > li.oppened > .sub-menu {
    visibility: visible;
    opacity: 1;
  }

  .top-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .lang-bar {
      margin-top: 0;
      margin-bottom: 10px;
      display: flex;

      li, a {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;

        &, &:visited, &:active {
          color: $gray;
        }
      }

      li.current-lang a {
        color: $mc;
      }

      a {
        padding: 0px 10px;
      }
    }
  }

  .main-navigation {
    display: block;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  .main-navigation > div > ul > li.current-menu-ancestor:before,
  .main-navigation > div > ul > li.current-menu-parent:before {
    content: '';
    width: 4px;
    height: 40px;
    background: $mc;
    top: 0;
    margin: 0;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: block;
      margin: 5px 0px;

      a {
        display: block;
        padding: 3px 14px;
        text-decoration: none;
        font-size: 20px;

        &:after {
          display: none;
        }
      }

      .btn-mob-sub {
        width: 32px;
        height: 32px;
        top: -6px;
        right: 2px;
        position: absolute;
        border-bottom: 0;
        transition: all .2s ease-in-out;
        padding: 0;

        &:after {
          content: "";
          background: none;
          border-style: solid;
          border-width: 1px 1px 0 0;
          display: inline-block;
          width: 10px;
          height: 10px;
          transform: rotate(135deg);
          left: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 0;
          border-color: $mc;
          transition: all .2s ease-in-out;
        }
      }

      &.opened {
        .btn-mob-sub {
          transform: rotate(180deg);
          top: 0px;
        }
      }

      .sub-menu {
        position: relative;
        width: 100%;
        top: -30px;
        background: none;
        overflow: hidden;
        max-height: 0em;
        transition: max-height .3s ease-out;
        padding-left: 10px;
        box-shadow: none;

        a {
          padding: 0px 14px;
          font-size: 16px;
          width: 95%;
          font-weight: 400;
        }

        .btn-mob-sub {
          display: none;
        }
      }

      &.opened {
        .sub-menu {
          top: -30px;
          max-height: 75em;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .social-info {
    display: flex;
  }

}

.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.overflow-active {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-active {
  #mob-menu {
    overflow-y: scroll;
    transform: perspective(600px) translateX(0%);
    @media (min-width: 1200px) {
      transform: perspective(600px) translateX(-100%);
    }
  }
}


#mobMenuBtn {
  width: 25px;
  display: block;
  margin-right: auto;

  @media(min-width: 576px) {
    width: 35px;
  }

  div,
  &:after,
  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin: 5px 0;
    border-top: medium solid $mc;
    transition: all .3s ease-in-out;
    position: relative;
    top: 0;
    right: 0;
    opacity: 1;
  }
}


#cookie-notice .cn-button {
  .cookie-notice-container {
    background: white;
    color: black;
  }

  margin-left: 10px;
  padding: 3px 25px;
  font-size: 0.65em;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 25px;
  background: $mc;
  border-radius: 35px;
  text-transform: uppercase;
}


.lang-bar {
  list-style: none;
  display: none;
  padding: 0;
  @media (min-width: 992px) {
    display: flex;
    margin: 0;
  }

  li {
    &:first-child {

      a {
        border-right: 2px solid rgb(214, 214, 214);
      }
    }

    a {
      display: block;
      padding: 0 8px;
      text-transform: uppercase;
      min-width: 48px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;

      &, &:visited, &:active {
        color: $text;
      }

      @media (min-width: 1200px) {
        &:hover {
          opacity: 0.5;
        }
      }
    }

    &.current-lang {
      a {
        color: $mc;
      }
    }
  }
}


.site-header {
  .main-navigation ul.menu li a,
  .lang-bar a {
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 1250px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  .main-navigation ul.menu li .sub-menu {
    a {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.hdr-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.js-search {
  position: relative;

  img {
    position: absolute;
    height: auto;
    width: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 15px;
    z-index: 1000000000;

    @media (min-width: 0px) and (max-width: 767px) {
      position: relative;
      margin-right: 15px;
      top: 5px;
      z-index: 2;
    }
  }
}

.col-search {
  .hdr-box:first-child {
    margin-left: 0;
  }
}

.top-header {
  text-align: right;
  background-color: #a0a0a0;
}


.search-module {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .hdr-srch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1vh;
    background-color: white;
    transition: all .3s ease-in-out;

    .hdr-srch-input {
      width: 70%;
      position: relative;

      .hdr-srch-results {
        position: absolute;
        background: white;
        width: 100%;
        padding: 25px;
        box-sizing: border-box;

        h4.live_search_heading {
          margin: 10px 0;
          border-bottom: 1px solid #e4e4e4;
        }

        &.has-results {
          height: 75vh;
          max-height: 691px;
          overflow-y: scroll;
        }

        .all_results {
          float: right;
        }

        .search_results {
          justify-content: flex-start;
        }

        li {
          list-style: none;
        }

        .search_box {
          overflow: hidden;

          h4 {
            margin: 0;
          }

          img {
            max-width: 100%;
          }
        }

        .search-message {
          text-align: center;
          padding: 50px;
        }

      }

      form {
        position: relative;

        input {
          width: 100%;
          border: none;
          border-bottom: 2px solid #cccccc;
          padding: 10px;
          font-size: 16px;

          &:focus {
            box-shadow: none;
          }
        }

        .loader {
          position: relative;

          &::before {
            position: absolute;
            display: block;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            height: 20px;
            width: 20px;
            background-color: black;
            z-index: 999999;
          }
        }

        img {
          width: 20px;
          position: absolute;
          top: 15px;
          right: 20px;
        }
      }
    }
  }

  .js-search-close {
    float: right;
    font-size: 20px;

    &::after {
      position: absolute;
      display: block;
      content: "\2716";
      color: #747474;
      top: 30px;
      right: 30px;
      font-size: 30px;
    }
  }
}

.search-module {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.search-active .search-module {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.search-active .hdr-srch {
  height: 30vh;
}

.user-box {
  position: relative;

  @media(min-width: 1024px) {

    &:hover .user-module {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }

  .user-module {
    position: absolute;
    top: 40px;
    right: -20px;
    width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: -2px 2px 81px -17px rgba(0, 0, 0, 0.29);
    transform: translateY(30px);
    transition: .2s all ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 10;

    :last-child {
      margin-bottom: 0;
    }

    .username {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
    }

    a {
      margin-bottom: 10px;
      display: table;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.wpml-ls {

  > ul {
    list-style: none;
    position: relative;

    li {
      padding-right: 30px;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      border-bottom: 2px solid;
      border-right: 2px solid;
      border-color: black;
      height: 10px;
      width: 10px;
      top: -4px;
      bottom: 2px;
      right: 5px;

      margin: auto;
      transform: rotate(45deg);
    }
  }

  .wpml-ls-sub-menu {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    background-color: white;
    border: 1px solid gray;

    li {
      border-bottom: 1px solid gray;
      padding: 0 15px;
    }
  }

  .wpml-ls-current-language:hover .wpml-ls-sub-menu {
    display: block;
  }
}


@media (min-width: 0px) and (max-width: 767px) {
  .language-select {
    .wpml-ls > ul::after {
      display: none !important;
    }

    ul {
      padding: 0;
      margin-left: 20px;

      & > li {
        padding: 3px 10px !important;
        border: 1px solid #afafaf;
      }
    }

    .wpml-ls .wpml-ls-sub-menu {
      left: 0;
      margin-left: 0;
    }
  }
}

