body {
    font-family: $font-family-primary;
    background: white;
    margin: 0;
    padding-top: 95px;
    padding-bottom: 0 !important;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 2;
    color: $text;
    font-size: 16px;
    line-height: 28px;
    overflow-x: hidden;

    input {
        font-size: 16px;
    }

}

.site{
    @media (min-width: 768px){
        position: relative;
        z-index: 2;
    }
}


a{
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

a, a:visited, a:active{
    color: $mc;
}


.post,
.page {
    margin: 0;
}

.page{
    h1{
        color: #444;
    }
}

#cookie-notice .cn-button {
    margin-left: 10px;
    padding: 5px 25px;
    font-size: 0.65em;
    vertical-align: middle;
    margin-left: 25px;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}


// ul, ol{
//     padding-left: 15px;
//     @media (min-width: 768px){
//         padding-inline-start: 40px;
//     }
//     li{
//         margin-bottom: 15px;
//     }
// }

.button a,
.btn,
input[type=submit],
form:not(.fl-builder-settings) button{
    cursor: pointer;
    font-family: $font-family-primary;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s $easing;
    outline: none;
    background-color: white;
    color: $mc;
    border: 1px solid $mc;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-appearance: none;
    padding: 12px 30px;
    text-transform: uppercase;

    &,
    &:visited,
    &:active{
        color: $mc;
    }

    &:hover {
        background-color: $mc;
        color: white;
    }

    span{
        position: relative;
        z-index: 2;
    }

    // &,
    // &:active,
    // &:visited {
    //     color: $mc;
    // }


    // @media (min-width: 1025px){
    //     &:hover {
    //         background-color: $mc;
    //         color: white;
    //     }
    // }
    &.btn-dark{
        box-shadow: none;
        border: thin solid white;
        background: none;
        color: white;
        @media (min-width: 1025px){
            &:hover{
                background: $mc;
                border: thin solid $mc;
                box-shadow: none;
            }
        }
    }

    &.btn-link {
        color: black;
        font-weight: 600;
        font-size: 18px;
        padding: 5px 0;
        text-transform: uppercase;
        border-bottom: 2px solid black;

        &:visited {
            color: black;
        }
    }


    &.btn-light{
        background: white;
        color: $red;
    }

    &.btn-fill{
        background: $mc;
        &,
        &:visited,
        &:active{
            color: white;
        }
        @media (min-width: 1025px){
            &:hover{
                color: $mc;
                background: rgba(255, 255, 255, 0);
            }
        }
    }
}


.link{
    text-transform: uppercase;
    position: relative;
    color: white;
    font-weight: 500;
    border: 0;
    &.half-line{
        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            height: 2px;
            width: 30%;
            background-color: white;
            transition: .3s all ease-in-out;
        }
        &:hover::after {
            width: 60%;
        }
    }
    &.line{
        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            right: 0;
            margin: auto;
            height: 2px;
            width: 100%;
            background-color: white;
            transition: .3s all ease-in-out;
        }
        &:hover::after {
            width: 80%;
        }
    }
    &.dark{
        &:after{
            background: black;
        }
    }
}



input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
textarea,
select,
.select2-container .select2-selection--single{
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid #e1e1e1;
    transition: .3s;
    padding: 10px;
    &:focus{
        outline: none;
    }
}

.select2-container .select2-selection--single{
    padding: 6px 10px !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
    text-align: left;
    height: 42px !important;
}

.fieldset{
    position: relative;
    label{
        display: block;
    }
    & > label{
        margin-top: 25px;
        margin-bottom: 5px;
    }
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=tel],
    input[type=date],
    input[type=number],
    textarea,
    select,
    .select2-container .select2-selection--single{
        width: 100%;
    }
    textarea{
        min-height: 150px;
        resize: none;
    }
    &.fieldset-submit{
        margin-top: 35px;
    }
}

.fieldset{
    .parsley-errors-list {
        position: absolute;
        bottom: -22px;
        margin: 0;
        padding: 0;
        list-style: none;
        left: 18px;
        font-size: 12px;
        li{
            border: 0;
            padding: 0;
            color: #ff9191;
        }
    }
}

.fieldset-row {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    flex-direction: column;

    @media(min-width: 768px) {
        flex-direction: row;
    }
    .fieldset{
        flex: 1;
        padding: 0px 16px;
    }
}

.btn-cp-view-pr{
    font-size: 0.5em;
    letter-spacing: 0.05em;
    padding: 5px 10px 5px 5px;
    span{
        position: relative;
        font-size: 8px;
    }
    img{
        width: 20px;
        vertical-align: middle;
    }
    .btn-ico{
        width: 20px;
        height: 20px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        img{
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s ease-in-out;
            &.hovered,
            &.added{
                opacity: 0;
            }
        }
    }

    @media (min-width: 1025px){
        &:hover{
            .btn-ico{
                img{
                    &.unhovered{
                        opacity: 0;
                    }
                    &.hovered{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


fieldset {
    border: 1px solid black;
    background: white;
}

.select2-results__option{
    margin-bottom: 0px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $mc;
}

.select2-dropdown {
    border: 1px solid #e1e1e1 !important;
}

.b-lazy{
    opacity: 0;
    transform: translateY(25px);
    transition: opacity .15s ease-out;
    &.b-loaded{
        opacity: 1;
        transform: translateY(0%);
    }
}


.img, .logo{
    img{
        width: 100%;
        height: auto;
    }
}

.mob-show{
    @media (min-width: 0px) and (max-width: 992px){
        display: block !important;
    }
    @media (min-width: 992px){
        display: none !important;
    }
}

.mob-hide{
    @media (min-width: 0px) and (max-width: 992px){
        display: none !important;
    }
    @media (min-width: 992px){
        display: block !important;
    }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 20px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;

    @media (min-width: 1200px){
        margin-right: 50px;
    }
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.swiper-button-next, .swiper-button-prev{
    color: white;
}

.swiper-pagination{
    z-index: 25;
    .swiper-pagination-bullet{
        opacity: 1;
        margin: 4px 0px;
        border: thin solid white;
        background: rgba(255, 255, 255, 0);
    }
    .swiper-pagination-bullet-active{
        background: white;
    }
}


.page-content-box{
    .wp-block-image{
        max-width: 100%;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        img{
            width: 100%;
            height: auto;
        }
    }

    h1 {
        color: $mc;
        font-size: 56px;
        line-height: 60px;
    }
}

.name{
    margin-bottom: 0;
}
.position{
    margin-top: 0;
    margin-bottom: 35px;
}


.caption{
    font-size: 0.875rem;
}

.read-more{
    font-weight: bold;
    margin-left: 5px;
    padding: 0px 5px;
}


.wp-caption {
    max-width: 100%;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;

    @media (min-width: 1400px){
        max-width: 120%;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
        margin: 0;
    }

}

.wp-caption .wp-caption-text {
    font-size: 0.65em;
    line-height: 17px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 30px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


blockquote {
    background: #fafafa;
    margin: 0;
    padding: 15px 45px;
    border-left: 4px solid $mc;
}


.page-404{
    text-align: center;
    padding: 8vw 0;
    .number-404{
        font-size: 4.5em;
        font-weight: bolder;
        color: $mc;
        margin-bottom: 35px;
    }
    .section-subtitle{
        font-weight: 300;
        color: rgb(61, 61, 61);
    }
    .box-404{
        margin: 35px 0px;
        padding: 65px;
        background: white;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
    }
}


.social-info{
    a{
        line-height: 30px;
        text-transform: capitalize;
        img{
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}

ul.info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        margin: 20px 0px;

        @media (min-width: 992px){
            display: flex;
        }
        .lbl{
            flex: 3;
            font-weight: bold;
        }
        .val{
            flex: 10;
            margin-bottom: 5px;
        }
    }
}




.main-box {
    min-height: 300px;
    margin-bottom: 50px;
}

.col-sidebar{
    h1, .page-title{
        margin-top: 0;
        font-size: 46px;
        line-height: 48px;
    }
    .main-box{
        position: sticky;
        padding-left: 0;
        @media (min-width: 1200px){
            padding-right: 10px;
        }
    }
}

.col-main{
    h1{
        margin-top: 0;
    }
}



.page-menu{
    padding: 0;
    padding-left: 10px;
    list-style: none;
    padding-right: 40px;

    li {
        line-height: 20px;
        margin-bottom: 10px;

        a {
            position: relative;
            transition: all .3s ease-in-out;
            &:hover{
                color: $mc;
            }
            &::after {
                position: absolute;
                display: block;
                content: "-";
                top: 0;
                left: -10px;
            }

            &:hover {
                color: $mc;
            }
        }
    }

    &.category-menu{
        li:first-child{
            margin-left: -8px;
            a {
                font-weight: bold;
                display: block;
                &:after{
                    display: none;
                }
            }
        }
    }

}

aside{
    .page-menu{
        a, a:visited, a:active{
            color: black;
        }
    }
}



.year{
    span {
        background: #424242;
        color: white;
        padding: 3.5px 14px;
        font-weight: bold;
    }
}

.page-heading{
    margin-bottom: 35px;
    h4{
        margin-bottom: 0;
    }
}


.grid-gallery{
    display: flex;
    flex-wrap: wrap;
    .image{
        flex: 0.3;
    }
    img{
        width: 100%;
        height: auto;
    }
}


.info-row{
    padding-bottom: 24px;
    margin: 20px 0px;
    border-bottom: 2px solid $lgray;

    .info-box {
        p {
            margin: 0;
        }
    }

    h3{
        margin-bottom: 6px;
    }

    .meta-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .meta-date{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            color: $gray;
        }
        @media (min-width: 570px){
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}

.info-box{
    .btn-arrow{
        margin-top: 0;
        opacity: 0.3;
        transition: all .3s ease-in-out;
        img{
            width: 34px;
        }
        &:hover{
            opacity: 1;
        }
    }
}


.filter-box{
    margin: 35px 0px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    color: $mc;

    h4 {
        margin: 0;
        margin-bottom: 15px;
    }

    .chk-box {
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: block;
            margin-bottom: 20px;
            a{
                display: inline-block;
                color: $mc;
                &.link.half-line:after{
                    background: $mc;
                    height: 1px;
                    bottom: -5px;
                }
            }
            &.active{
                a{
                    color: rgb(206, 206, 206);
                    &.link.half-line:after{
                        width: 70%;
                    }
                }
            }
        }
    }
}

#filterForm {

    // .filter-box:nth-child(1) {
    //     background-color: #ffffff;
    //     color: $mc;

    //     .checkbox-btn .checkmark .chk-box::after {
    //         border-color: $mc;
    //     }
    // }

    // .filter-box:nth-child(2) {
    //     background-color: $sc;

    //     .checkbox-btn .checkmark .chk-box::after {
    //         border-color: white;
    //     }
    // }
}

.filter-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 0px;
    margin-left: 16px;
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    .noUi-target{
        height: 5px;
        background: black;
        box-shadow: none;
        border: 0;
    }
    .noUi-horizontal{
        .noUi-handle{
            width: 16px;
            height: 16px;
            border-radius: 100%;
            right: -10px;
            &:focus{
                outline: none;
            }
            &:active{
                background: gray;
            }
        }
        .noUi-tooltip{
            padding: 0;
            border: 0;
            font-size: 12px;
        }
    }
    .noUi-connect{
        background: $mc;
    }
    .noUi-connects{
        background: $mc;
    }
    .noUi-touch-area {
        background: $sc;
        border: none;
        border-radius: 50%;
    }
    .noUi-handle:after, .noUi-handle:before{
        display: none;
    }
}

.checkbox-btn{
    position: relative;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: thin solid $gray;
    input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    .checkmark{
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 32px;
        transition: all .2s ease-in-out;
        .chk-image{
            width: 36px;
            height: 36px;
            background-size: cover;
            align-items: center;
            margin-right: 8px;
            border: 2px solid rgba(255, 255, 255, 1);
            transition: all .2s ease-in-out;
        }
        .chk-box {
            width: 14px;
            height: 14px;
            border: 1px solid;
            margin-right: 8px;
            position: relative;
            &:after{
                font-size: 12px;
                content: '✓';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                line-height: 13px;
                text-align: center;
                transform: scale(0.5);
                opacity: 0;
                transition: .2s;
            }
        }
        .chk-label{
            font-size: 16px;
            line-height: 18px;
            padding-top: 2px;
            transition: all .2s ease-in-out;
        }
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid $mc;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover{
        .checkmark {
            opacity: 0.8;
        }
    }
    input:checked ~ .checkmark {
        .chk-box{
            &:after{
                transform: scale(1);
                opacity: 1;
            }
        }
        .chk-image{
            border: 2px solid $mc;
        }
        .chk-label{
            font-weight: bold;
        }
    }
    &:last-child{
        border-bottom: 0;
    }
}


.radio-btn{
    position: relative;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 15px;
    input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    .checkmark{
        display: flex;
        align-items: flex-start;
        transition: all .2s ease-in-out;
        .chk-box {
            width: 17px;
            height: 17px;
            border: 2px solid black;
            margin-right: 8px;
            position: relative;
            border-radius: 100%;
            top: 3px;
            &:after{
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: $mc;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                transform: scale(0);
                opacity: 0;
                transition: .2s;
            }
        }
        .chk-label{
            font-size: 16px;
            line-height: 24px;
            padding-top: 2px;
            transition: all .2s ease-in-out;
        }
    }
    &:hover{
        .checkmark {
            opacity: 0.8;
        }
    }
    input:checked ~ .checkmark {
        .chk-box{
            &:after{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}


.ch-form-section{
    .radio-btn{
        .checkmark{
            height: auto;
        }
    }
}


.file-btn{
    label{
        cursor: pointer;
        input[type=file]{
            cursor: pointer;
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
    .btn{
        display: flex;
        align-items: center;
        padding: 9px 30px;
        padding-right: 25px;
        svg {
            width: 16px;
            height: 16px;
            margin-right: 10px;
            margin-left: -10px;
            *{
                transition: .3s;
            }

            path {
                fill: $mc;
            }
        }
        &:hover{
            svg path{
                fill: white;
            }
        }
    }
}


.inputs-row{
    display: flex;
    align-items: center;
    .radio-btn:last-child{
        margin-right: 0;
    }
}

.file-input-row{
    margin: 25px 0px;
}

.sort-wrap {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    select{
        padding: 5px;
        min-width: 280px;
    }
}


.success-message{
    text-align: center;
    margin: 100px 0px;
    &:before{
        content: '✓';
        font-size: 42px;
        width: 81px;
        height: 81px;
        display: inline-block;
        line-height: 81px;
        border-radius: 100%;
        border: 2px solid #75ad75;
        color: #75ad75;
    }
    .btn-wrap{
        margin-top: 35px;
    }
}


ul.single-meta-box {
    list-style: none;
    margin: 21px 0;
    padding: 0;
    display: flex;
    li{
        padding-right: 20px;
        margin-right: 20px;
        line-height: 12px;
        border-right: 2px solid $lgray;
        text-transform: uppercase;
        font-weight: bold;
        color: $gray;
        &:last-child{
            padding-right: 0;
            margin-right: 0;
            border-right: 0;
        }
    }
}


.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.profile__image {
    width: 50px;
}

.chk-label-top {
    margin: 20px 0;

    .chk-label {
        font-size: 18px !important;
    }
}

.course-description__user {
    background-color: #657c84;
    padding: 30px;
    color: #fff;
}
