.top-hero-section {
    background-position: 50%;
    background-size: cover;
    position: relative;

    .news-button {
        position: absolute;
        right: 0;
        bottom: 40px;
        z-index: 8;

        @media(min-width: 1024px) {
            bottom: 30px;
        }

        a {
            color: white;
            padding: 10px 15px;
            background-color: #006ea9;
            border-radius: 35px 0 0 35px;
            display: flex;
            align-items: center;
            font-weight: 600;

            @media(min-width: 1024px) {
                padding: 20px;
            }

            img {
                margin-right: 10px;
            }
        }
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

}

.no-scroll {
    overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 320px;

  @media(min-width: 768px) {
    height: 450px;
  }

  @media(min-width: 1024px) {
    height: 600px;    
}


    @media (min-width: 1200px){
      height: calc(80vh - 90px);
  }

}

.swiper-slide {
  background: $mc;
    background-size: cover;
    background-position: 50%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
    width: 36px;
    height: 4px;
    background-color: white !important;
    border-radius: 0;
    border: none !important;
    margin: 0 8px !important;

    @media(min-width: 1024px) {
        width: 80px;
    }
}

.swiper-pagination-bullet-active {
    background-color: $mc !important;
}

.btn-wrap {

    a,
    button {
        color: white;
        padding: 15px 20px;
        border-radius: 35px;
        background-color: #006ea9;
        font-weight: 600;
        border: none;
        cursor: pointer;
        outline: none;

        @media(min-width: 1024px) {
            padding: 20px 35px;
        }
    }
}

.btn-link {
    margin-top: 10px;
    position: relative;
    display: inline-block;

    @media(min-width: 1024px) {
        margin-top: 30px;
    }

    &::after {
        position: absolute;
        display: block;
        content: "";
        border-top: 2px solid;
        border-right: 2px solid;
        border-color: $mc;
        height: 10px;
        width: 10px;
        top: 9px;
        right: -18px;
        transform: rotate(45deg);
    }

    a {
        color: #006ea9;
    }
}

.section-3-boxes {

    padding: 50px 25px;

    @media(min-width: 1200px) {
        padding: 50px;
    }

    .single-box {
        padding-top: 20px;

        @media (min-width: 0px) and (max-width: 1024px){
            margin-bottom: 35px;
        }
        
        @media(min-width: 768px) {
            display: flex;
        }

        @media(min-width: 1024px) {
            display: block;
        }

        .img-wrap {
            width: 120px;

            @media(min-width: 768px) {
                min-width: 150px;
            }

            @media(min-width: 768px) {
                min-width: 120px;
            }

            @media(min-width: 992px) {
                min-width: 150px;
            }

            img {
                width: 100%;
                margin-left: -7px;

                @media(min-width: 768px) {
                    margin-top: -8px;
                }

                @media(min-width: 1200px) {
                    margin-left: -24px;
                    margin-bottom: -25px;
                }
            }
        }

        .title {
            color: $title-color;
            font-size: 20px;
            font-weight: bold;
            line-height: 32px;

            @media(min-width: 768px) {
                
            }

            @media(min-width: 1024px) {
                padding: 20px 0;
                font-size: 28px;
            }
        }
    
        .text {
            font-size: 16px;
            line-height: 28px;
            padding-right: 50px;
        }
    }
}

.section-left-right {

    .col-lg-6 {
        padding: 0;
    }

    .img-wrap {
        background-size: cover;
        background-position: 50%;
        height: 100%;
        min-height: 300px;
    }

    .content-box {
        background-color: #f5f7fa;
        padding: 30px;

        @media(min-width: 768px) {
            padding: 50px;
        }

        @media(min-width: 1024px) {
            min-height: 650px;
            padding: 90px 70px;
        }

        .title {
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
            margin-bottom: 10px;
            color: $title-color;

            @media(min-width: 1024px) {
                font-size: 36px;
                margin-bottom: 50px;
            }
        }

        .text {
            @media (min-width: 0px) and (max-width: 1024px){
                font-size: 16px;
                line-height: 26px;
            }
            @media (min-width: 1025px){
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}

.section-news {
    background-color: #e6e8eb;
    padding: 20px 0;

    @media(min-width: 768px) {
        padding: 50px 0;
    }

    @media(min-width: 992px) {
        padding: 30px 0 0 0;
    }

    .subtitle {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: $title-color;
        margin-right: 50px;

        @media(min-width: 992px) {
            font-size: 28px;
            display: inline-block;
            margin-bottom: 20px;
        }

        @media(min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    .btn-link {
        margin-top: 0;

        @media(min-width: 992px) {
            margin-top: 10px;
        }
    }

    .col-lg-4 {

        &:last-child {
            
            .news-box {
                border: none;
            }
        }
    }

    .news-box {
        border-bottom: 1px solid #949494;
        margin-bottom: 10px;

        @media(min-width: 992px) {
            margin: 0;
            border: none;
        }

        @media(min-width: 992px) {
            margin-bottom: 30px;
        }

        .date {
            color: #78838A;
            font-size: 14px;
        }
    
        .title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 10px;

            @media(min-width: 992px) {
                font-size: 20px;
                min-height: 75px;
                margin: 10px 0;
            }
        }
    
        .text {
            display: none;
            line-height: 24px;
    
            @media(min-width: 992px) {
                display: block;
                min-height: 130px;
            }
        }
    
        .btn-link {
            display: none;
    
            @media(min-width: 992px) {
                display: inline-block;
            }
        }
    }
}

.page-custom-design,
.page-custom-design-additive,
.page-tehnical-main {
    position: relative;

    .custom-design-box {
        padding: 50px 0;

        .title {
            font-size: 36px;
            line-height: 1.125;
            font-weight: bold;
            margin-bottom: 20px;
            color: $title-color;
        }
    }


    .hero-top-banner {
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: 50%;

        @media(min-width: 768px) {
            height: 450px;
        }

        @media(min-width: 1200px) {
            height: calc(80vh - 95px);
        }

        .container,
        .row {
            height: 100%;
        }

        .top-hero-box {
            margin-bottom: 100px;
        }
    }

    .video-banner {
        position: absolute;
        z-index: 9999999;
        background-color: rgba(0, 0, 0, 0.24);
        top: 0;
        left: 0;
        height: calc(100vh - 75px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;

        .video-x {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100px;
            cursor: pointer;

            &::before,
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: white;
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        video {
            max-width: 800px;
            width: 100%;
        }
    }

    .video-banner.active {
        visibility: visible;
        opacity: 1;
    }
}

.contact-sidebar {
    margin-top: 50px;

    @media(min-width: 768px) {
        margin-top: 0;
    }

    .contact-wrap {
        padding-bottom: 20px;
        border-bottom: 5px solid #b3c2cb;

        .title {
            font-size: 20px;
            line-height: 32px;
        }

        .content-box {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #949494;
            padding: 10px 0;

            .img-wrap {
                margin-right: 20px;
            }

            .btn-link {
                margin: 0;
            }
        }
    }

    .contact-wrap .content-box:last-child {
        border: none;
    }

    .news-wrap {
        padding: 20px 0;
        border-bottom: 5px solid #b3c2cb;

        .title {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: -10px;
        }

        .news-box {
            border-bottom: 1px solid #949494;
            padding: 10px 0;

            .date {
                color: #78838A;
                font-size: 14px;
            }

            .title {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
            }
        }

        .btn-link {
            margin: 0;
        }
    }

    .news-wrap a:nth-child(4) .news-box {
        border: none;
    }

    .cases-wrap {
        padding: 20px 0;

        .title {
            font-size: 20px;
            line-height: 32px;
        }

        .cases-box {
            border-bottom: 1px solid #949494;
            padding: 10px 0;
            display: flex;

            .img-wrap {
                width: 80px;
                margin-right: 15px;

                img {
                    width: 100%;
                }
            }

            .title {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
            }
        }
    }

    .cases-wrap a:nth-child(4) .cases-box {
        border: none;
    }
}

.page-custom-design-additive {

    .custom-design-box {

        .text {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .section-40-60 {
        padding: 20px 0;

        .content-box {
            background-color: #f5f7fa;
            padding: 50px;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            @media(min-width: 992px) {
                min-height: 460px;
                flex-direction: row;
            }

            .title {
                font-size: 28px;
                line-height: 32px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .img-wrap {
                width: 100%;

                @media(min-width: 768px) {
                    min-width: 350px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.page-tehnical-main,
.page-tehnical-product-group {

    .top-category-boxes {
        background-color: #f5f7fa;
        padding: 50px;

        .category-box {
            margin: 10px;

            .btn-link {
                margin: 0;
                margin-bottom: 20px;
                font-weight: 600;
            }
    
            .img-wrap {
                width: 100%;
    
                .img {
                    background-size: cover;
                    background-position: 50%;
                    height: 200px;
                }
            }
        }
    }

    .custom-design-box {
        padding: 50px 0;

        .box {

            .title {
                font-size: 36px;
                line-height: 42px;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
    }
}

// BREADCRUMBS

.nav--breadcrumbs{direction:ltr;color:#888;padding:20px 20px 0px 0px;margin:0}.nav--breadcrumbs ol{padding-left:20px}.nav--breadcrumbs li{text-align:center;display:inline-block;padding-right:7px}.nav--breadcrumbs li+li:before{content:'\3E';margin-right:0.4em;font-weight:400;margin-bottom:4px;padding-bottom:4px;text-align:top;color:#666}.nav--breadcrumbs li a{margin-left:0.1em}.nav--breadcrumbs li .separator{font-weight:400;padding-bottom:2px;color:#666}.nav--breadcrumbs ul#breadcrumbs li ul#breadcrumbs li:last-child:after,.nav--breadcrumbs ul#breadcrumbs li:first-child:after{content:none}.nav--breadcrumbs a:hover{color:#0199d8}.nav--breadcrumbs ol>li:first-child>a{background:url("img/icon-home.png") center left no-repeat;padding-left:28px}

#breadcrumbs {
    padding: 0 !important;

    li {

        img {
            margin-right: -20px;
        }

        strong {
            font-weight: 400;
        }
    }
}

.page-template-template-product {

    #breadcrumbs {
        padding-left: 20px !important;

        li {
    
            img {
                margin-bottom: 5px;
            }
        }
    }
}

.page-template-template-item {

    #breadcrumbs {
        padding-left: 20px !important;

        li {
    
            img {
                margin-bottom: 5px;
            }
        }
    }
}

.single-team-box {
    width: 100%;

    @media(min-width: 1200px) {
        width: 45%;
    }
}

.custom-design-box {

    aside {
        width: 100% !important;
        padding: 0 !important;
    }
}




.item__table {
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: 100px auto 100px;
    font-size: 11px;
    margin-bottom: 5px;
    width: 100%;
    /* dessin number  */
    /* drawing */
    /* button */ }
    .item__table :nth-child(2) {
      /* dessin text  */
      grid-column-start: 2;
      grid-column-end: 4;
      overflow: hidden; }
    .item__table :nth-child(3) {
      /* image */
      grid-row-start: 2;
      grid-row-end: 5; }
    .item__table :nth-child(4) {
      /* data */
      grid-row-start: 2;
      grid-row-end: 5; }
    .item__table div {
      margin-bottom: 2px;
      span-font-size: 8px;
      span-font-style: italic;
      span-color: #555; }
      .item__table div h2 {
        background-color: #0199d8;
        color: white;
        padding: 4px;
        font-size: 15px;
        font-style: bold;
        white-space: nowrap; }
      .item__table div .disclaimer {
        font-style: italic;
        font-size: 7px; }
    .item__table .thumbnail {
      font-size: 9px;
      font-style: italic; }
    .item__table .button {
      background: #0199d8;
      color: #fff;
      font-size: 12px;
      padding: 5px 5px;
      font-weight: 500;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      -o-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
      .item__table .button:hover {
        background: #0175a5;
        color: #fff; }
    .item__table .center {
      /* data-table */
      display: inline-grid;
      overflow: visible;
      grid-column-gap: 0px;
      grid-template-columns: 60px auto; }
      .item__table .center :nth-child(odd) {
        font-style: bold;
        grid-column: 1; }
  
  .itemdetail__header {
    font-weight: bold; }
  
  .itemdetail__color div, .itemdetail__fitswith div {
    padding-bottom: 0px; }
  
  .itemdetail__color ul, .itemdetail__fitswith ul {
    margin: 0px;
    padding: 0px; }
    .itemdetail__color ul li, .itemdetail__fitswith ul li {
      list-style: none;
      display: inline; }
    .itemdetail__color ul li + li:before, .itemdetail__fitswith ul li + li:before {
      content: "|\00a0";
      padding-bottom: 4px; }


/*------------------------------------*\
    Fits with tables on item template
\*------------------------------------*/
table .fitswith {
    padding-top: 20px;
    padding-bottom: 20px; }
  
  .legend {
    width: 65px;
    vertical-align: top;
    text-align: left;
    font-style: bold;
    font-size: 12px; }
  
  .linkcell {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #ddd;
    display: block;
    float: left;
    display: table-cell;
    margin-bottom: 3px; }
    .linkcell .linkheader {
      width: 81px;
      background: #ddd;
      font-size: 10px;
      color: black;
      border-right: solid 1px #fff; }
  
  /*------------------------------------*\
      Thumbnails
  \*------------------------------------*/
  .thumbnail, .thumbnail1, .thumbnail2, .thumbnail3 {
    position: relative; }
    .thumbnail .noprint, .thumbnail1 .noprint, .thumbnail2 .noprint, .thumbnail3 .noprint {
      visibility: hidden;
      position: absolute;
      /*width:200px;*/
      background-color: #9DC8EA;
      /*padding: 4px;*/
      border: 0px solid white;
      z-index: 99;
      display: table; }
      .thumbnail .noprint img, .thumbnail1 .noprint img, .thumbnail2 .noprint img, .thumbnail3 .noprint img {
        border-width: 0px;
        padding: 4px;
        max-width: none; }
    .thumbnail .caption, .thumbnail1 .caption, .thumbnail2 .caption, .thumbnail3 .caption {
      color: black;
      background-color: #9DC8EA;
      padding-left: 4px;
      padding-right: 4px;
      text-decoration: none;
      text-align: left;
      font-style: italic;
      font-size: 12px;
      display: table-caption;
      caption-side: bottom; }
  
  table.fitswith .thumbnail:hover .noprint {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 20px;
    left: 50px;
    /*position where enlarged image should offset horizontally */ }
  
  .thumbnail1:hover .noprint {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: -50px;
    left: -230px;
    /*position where enlarged image should offset horizontally */ }
  
  .thumbnail2:hover .noprint {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: -50px;
    left: 130px;
    /*position where enlarged image should offset horizontally */ }
  
  .thumbnail3:hover .noprint {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 25px;
    left: -20px;
    /*position where enlarged image should offset horizontally */ }


    /*------------------------------------*\
    Downloads
\*------------------------------------*/
ul.dlm-downloads {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px; }
    ul.dlm-downloads li {
      margin-bottom: 15px; }
  
  .filetype-icon {
    padding-left: 22px; }
  
  table.downloads {
    width: 100%; }
    table.downloads td {
      vertical-align: top; }
      table.downloads td:nth-child(1) {
        width: 120px; }
      table.downloads td:nth-child(2) {
        width: auto; }
      table.downloads td:nth-child(3) {
        width: 120px; }
      table.downloads td img {
        width: 100%;
        height: auto;
        padding-right: 20px;
        padding-bottom: 10px; }
      table.downloads td h2, table.downloads td a {
        margin-top: 0px;
        padding-top: 0px; }
  


    .post.type-post{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        margin-bottom: 35px;
        border-bottom: 1px solid $mc;
        .post__thumbnail{
            flex: 0 0 100%;
            width: 100%;
            @media (min-width: 768px){
                flex: 0 0 40%;
                width: 40%;
            }
        }
        .post__details{
            flex: 0 0 100%;
            width: 100%;
            @media (min-width: 768px){
                flex: 0 0 60%;
                width: 60%;
            }
        }

        .post__thumbnail{
            img{
                width: 100%;
                height: auto;
            }
        }

        .post__details{
            @media (min-width: 768px){
                padding-left: 25px;
            }
            h2{
                font-size: 1.25rem;
            }
            h2, p{
                margin: 0;
            }
        }

    }