.navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;

  .nav-links {
    font-size: 18px;
    display: inline-flex;
    align-items: center;

    .page-numbers {
      margin-right: 10px;
      color: #006ea9;

      &.current {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #006ea9;
        color: #fff;
        border: 1px solid #006ea9;
        letter-spacing: 0;
        margin-right: 5px;
      }
    }
  }
}
