


.page-single-box{
    @media (min-width: 0px) and (max-width: 767px){
        padding: 25px 16px;
    }
    @media (min-width: 768px) and (max-width: 1199px){
        padding: 50px 0px;
        padding-top: 5px;
    }
    @media (min-width: 1200px){
        padding: 50px 0px;
        padding-top: 5px;
    }
}

.post__image{
    img{
        max-width: 100%;
        height: auto;
    }
}