$h1: 3rem;
$h1lh: 3.5rem;

$mb_h1: 2rem;
$mb_h1lh: 2rem;

$h2: 2rem;
$h2lh: 1.4rem;

$h3: 1.2rem;
$h3lh: 1.5rem;

$p: 1rem;
$plh: 1.5rem;


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
}

h1 {
  color: #444;
}

input, select, textarea {
  font-family: $font-family-primary;
}

h1, .section-title, .title-type {
  @media (min-width: 0px) and (max-width: 767px) {
    font-size: $mb_h1;
    line-height: $mb_h1lh;
  }

  @media (min-width: 768px) {
    font-size: $h1;
    line-height: $h1lh;
  }
}

h2 {
  font-size: 1.2rem;
  line-height: 2.5rem;

  @media (min-width: 768px) {
    font-size: $h2;
  }
}

h3,
.single-title {
  color: #444;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  position: relative;
  z-index: 7;
  font-family: $font-family-secondary;
  @media (min-width: 370px) {
    font-size: 30px;
    line-height: 30px;
  }
}

h4 {
  font-family: $font-family-secondary;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.heading {
  text-align: center;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0;

  @media(min-width: 576px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.small-heading {
  text-transform: uppercase;
  color: #444;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20px;
  border-left: 2px solid $mc;
}

.hero-box-title {
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 50px;
  max-width: 330px;

  @media(min-width: 1024px) {
    font-size: 52px;
    line-height: 60px;
    max-width: 650px;
  }

  @media(min-width: 1200px) {
    font-size: 60px;
    line-height: 74px;
    max-width: 650px;
  }
}

.footer-title {
  margin-bottom: -10px;
  font-family: $font-family-primary;
  font-size: 12px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 8px;

  @media(min-width: 1024px) {
    margin-bottom: 18px;
  }
}

h5 {
  font-size: 1rem;
}

.main-title {
  font-family: $font-family-secondary;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 50px;

  @media(min-width: 768px) {
    font-size: 50px;
    line-height: 55px;
  }

  @media(min-width: 1650px) {
    font-size: 80px;
    line-height: 90px;
  }
}

.pretitle {
  color: #444;
  padding: 0 10px;
  font-size: 22px;
  font-weight: bold;
  margin: 50px 0;
  position: relative;
  z-index: 5;
  font-family: $font-family-secondary;

  @media(min-width: 768px) {
    font-size: 30px;
  }
}

.entry-title {
  margin: 0;
  color: black;
  font-size: 42px;
  line-height: 42px;
}
