// ***********************************
// VARIABLES
// ***********************************

// TYPOGRAPHY 
$font-family-primary: 'Helvetica Neue', sans-serif;
$font-family-secondary: 'Helvetica Neue', sans-serif;

$mc: #006ea9;
$sc: #3c1a0f;
$title-color: #00264a;
$text: #003868;
$gray: #adadb6;
$lgray: #eaeaea;
$footer-top: #2d2d2e;
$footer-bottom: #191919;
$red: #9c1e1e;

$mc_opacity: #15554c41;

$shd: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
$shd_hover: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);

$text_shadow: rgba(0, 0, 0, 0.65);
$text_shadow_sm: rgba(0, 0, 0, 1);

$easing: ease-in-out;
$easing1: cubic-bezier(0.165, 0.575, 0.500, 0.920);
$easing2: cubic-bezier(.65,-0.17,.22,1.32);


@mixin animate_before_load($delay: 0s, $speed: .75s, $translateY: 80px){
    transition-property: all;
	transition-duration:  $speed;
	transition-timing-function: $easing1;
    opacity: 0;
    transform: translateY($translateY);
    transition-delay: $delay;
}

@mixin loaded(){
    opacity: 1;
    transform: translateY(0);
}
