.template_editor{
    position: fixed;
    z-index: 9999;
    padding: 20px;
    background: white;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    max-width: 1600px;
    max-height: 820px;
}

.editor_custom{
    position: absolute;
}

.manage-column.column-thumb#thumb{
    width: 52px;
}

span.close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999;
    background: #007cba;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    line-height: 30px;
	cursor:pointer;
}
.template_editor .main-wrap{
    display:flex;
    height: 100%;
}
.template_editor .right_side,
.template_editor .left_side,
.email-preview .right_side,
.email-preview .left_side {
    width: 50%;
    max-height: calc(100% - 60px);
    padding: 0 10px;
}

.step_2.main-wrap .left_side {
    min-width: 620px;
}

.preview-email-template{
    padding: 15px 0;
    border: 1px solid #c7c7c7;
    height: 55vh;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    background: #e2e2e2;
}

.preview-email-template ul{
    list-style: disc;
    padding-left: 15px;
}

.template_editor .wp-editor-wrap{
    width: 100%;
    height: 100%;
}

.template_editor .wp-editor-wrap #my-wp-editor_ifr,
.template_editor .wp-editor-wrap textarea{
    height: 63vh !important;
}


.all-shortcodes {
    width: 100%;
    border-bottom: 1px solid lightgray;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

.all-shortcodes ul{
    overflow: auto;
}

.all-shortcodes code{
    padding: 5px 15px;
    font-size: 11px;
    margin: 0;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

.all-shortcodes code h4{
    margin-top: 0;
    margin-bottom: 10px;
}

.all-shortcodes ul li{
    cursor: pointer;
}

.template_editor_container{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #0000004a;
    z-index: 99999;
	overflow-x:hidden;
	overflow-y:auto;
    left: 0;
}
.template_editor_container p.template_name{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
}
.button_custom {
    margin-top: 13px;
    float: right;
}

.button_custom a.button.button-large{
    min-width: 110px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.back {
    left: 30px;
    right: inherit;
}
.email_sent {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
}

form#template_send_form{
    width: 100%;
}

form#template_send_form label {
    display: block;
    margin: 5px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

form#template_send_form input{
    min-width: 250px;
}

.loader_custom {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	position: absolute;
	z-index: 9999999;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.wrap .button-admin-export-action:active,
.wrap .button-admin-export-action{
    top: 18px;
    left: -6px;
    min-width: 80px;
    display: inline-block;
    text-align: center;
}



.inline-edit-row fieldset label span.title, .inline-edit-row fieldset.inline-edit-date legend{
    min-width: 120px;
}

.inline-edit-row fieldset .timestamp-wrap, .inline-edit-row fieldset label span.input-text-wrap{
    margin-left: 11em;
}

th#usergroup {
    width: 15%;
}

.button_custom.left {
    float: left;
}

.button_custom.back {
    float: left;
}
.template_editor_container.manual {
    position: relative;
    width: 100%;
    height: 100%;
}

.template_editor_container.manual .template_editor {
    width: 100%;
    height: 100%;
    position: relative;
}
th#user_name {
    width: 130px;
}

th#date {
    width: 125px;
}

th#user_email {
    width: 180px;
}

.admin-cnote-wrap .admin-cnote-message-wrap{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-cnote-message{
    position: relative;
    background: white;
    width: 400px;
    height: 350px;
    padding: 65px;
    overflow-y: scroll;
    border-radius: 6px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
}

.admin-cnote-wrap.active .admin-cnote-message-wrap {
    opacity: 1;
    visibility: visible;
}

.wp-list-table tr th,
.wp-list-table tr th a {
    font-size: 12px;
}

.row-actions a {
    font-size: 12px;
}

.post-type-kursustilmeldte .column-title{
    display: none !important;
}

.post-type-kursustilmeldte .inline-edit-col-right{
    display: none;
}

#edit-custom-status{
    display: block;
}

.inline-edit-status-row{
    display: flex;
}

.status-select-col{
    min-width: 200px;
    padding-right: 40px;
}

.status-select-col select{
    width: 100%;
}

#wpbody-content .bulk-edit-row fieldset .inline-edit-group label.edit-status-label{
    display: block;
    max-width: 100%;
}


.wp-admin.users-php #new_role,
.wp-admin.users-php #changeit,
.wp-admin.users-php #new_role2,
.wp-admin.users-php #changeit2{
    display: none !important;
}

.manual .left_side .filters {
    margin-bottom: 20px;
}

.manual label {
    display: block;
    pointer-events: none;
}

.manual .close {
    display: none;
}

.manual {
    margin: 15px;
    width: auto !important;
    z-index: 0;
}

.manual .template_editor{
    max-height: 100%;
    width: auto !important;
    max-width: 100%;
    margin: 0;
    z-index: 0;
}

.manual .step_2 .right_side {
    margin-top: 51px;
}